<div class="justify-content-between" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div>
        <button (click)="toggleSidebar()">
            <mat-icon class="app-icon" fontIcon="menu"></mat-icon>
        </button>
    </div>
    <div style="margin-top: 9px">
        <p>Version: {{version}}</p>
    </div>
    <div>
        <button mat-button [matMenuTriggerFor]="userMenu">
            <img src="assets/logo.png" alt="NaiveCat Logo" />
            Tri Nguyen
            <mat-icon class="app-icon" aria-hidden="false" aria-label="Notes" fontIcon="keyboard_arrow_down"></mat-icon>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item>
                Logout
                <mat-icon class="app-icon" aria-hidden="false" aria-label="Notes" fontIcon="logout"></mat-icon>
            </button>
        </mat-menu>
    </div>
</div>