<div class="justify-content-between" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
    <div class="app-header-style">
        <button mat-raised-button (click)="toggleSidebar()">
            <mat-icon fontIcon="menu"></mat-icon>
        </button>
    </div>
    <div class="app-header-style">
        <button class="menu-item-justify" mat-raised-button [matMenuTriggerFor]="userMenu">
            <mat-icon fontIcon="settings"></mat-icon>
            Tri Nguyen
        </button>
        <mat-menu #userMenu="matMenu">
            <p mat-menu-item>Version: {{version}}</p>
            <p mat-menu-item>API: {{api}}</p>
            <button mat-menu-item>
                Logout
                <mat-icon fontIcon="logout"></mat-icon>
            </button>
        </mat-menu>
    </div>
</div>