<mat-toolbar class="app-header">
    <mat-toolbar-row class="justify-content-between">
        <button mat-icon-button (click)="toggleSidebar()">
            <mat-icon class="app-icon" aria-hidden="false" aria-label="Notes" fontIcon="menu"></mat-icon>
        </button>
        <div>
            <button mat-button [matMenuTriggerFor]="userMenu">
                <img class="app-logo--image" width="40px" src="../../assets/logo.svg" alt="Company Logo" />
                Tri Nguyen
                <mat-icon class="app-icon" aria-hidden="false" aria-label="Notes"
                    fontIcon="keyboard_arrow_down"></mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
                <button mat-menu-item>
                    Logout
                    <mat-icon class="app-icon" aria-hidden="false" aria-label="Notes" fontIcon="logout"></mat-icon>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>