<div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" style="padding: 9px">
    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" [hidden]="!sidebarOpen" style="padding: 9px">
        <mat-drawer mode="push" [opened]="sidebarOpen">
            <app-sidenav></app-sidenav>
        </mat-drawer>
    </div>
    <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxFlex="99" style="padding: 9px">
        <app-header (toggleSidebarEmitter)="toggleSidebar()"></app-header>
        <router-outlet></router-outlet>
    </div>
</div>
